main {
    position: absolute;
    top: 104px;
    overflow: auto;
}

main ul li {
    height: 80px;
    padding: 5px 10px;
    border-bottom: 1px solid #f8f8f8;
}

main .left {
    float: left;
    width: 75%;
}

main .right {
    float: right;
    width: 25%;
}

.left .time {
    font-size: 20px;
}

.left .location {
    font-size: 12px;
    color: #c6c6c6;
}

.left .air {
    font-size: 12px;
    color: #c6c6c6;
    margin-top: 8px;
}

.left .l {
    float: left;
}

.left .r {
    float: right;
}

.left .r .location {
    float: right;
}

.left .air {
    float: left;
    width: 100%;
}

.left .m {
    float: left;
    width: 40%;
    margin-top: 10%;
    margin-left: 8%;
}

.left .m .m1 {
    display: block;
    float: right;
    width: 5px;
    border-top: 1px solid #c6c6c6;
    transform: rotate(30deg);
}

.left .m .m2 {
    display: block;
    width: 100%;
    float: left;
    border-top: 1px solid #c6c6c6;
}

.right p {
    float: right;
}

.right .money {
    color: #d2a677;
    font-size: 20px;
}

.right .discount {
    font-size: 12px;
    color: #c6c6c6;
}

.right .activity {
    font-size: 12px;
    color: #fecd88;
    background: #e59432;
    border-radius: 5px;
    margin-top: 3px;
}